<h1><%= @restaurant.name %></h1>
<h2>You can find us at <%= @restaurant.address %> to enjoy some <%= @restaurant.category %> cuisine.</h2>

<h3>Make your reservation now!</h3>
<h3><%= @restaurant.phone_number %></h3>

<h4>Reviews</h4>
<p>
  <% @restaurant.reviews.each do |review| %>
    <%= review.content %>
  <% end %>
</p>



<%= link_to "All restaurants", restaurants_path, class: "btn btn-secondary" %>